[MOODLEROOT]/local/eu4all/lib/wsdl/personalizeResourceService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="personalizeResource" targetNamespace="http://www.eu4all-project.eu/cp/wsdl/personalizeResource" xmlns:tns="http://www.eu4all-project.eu/cp/wsdl/personalizeResource" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.eu4all-project.eu/cp/wsdl/personalizeResource">
			<xsd:element name="personalizeRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="userIdentifier" type="xsd:string"/>
						<xsd:element maxOccurs="1" minOccurs="0" name="device" type="xsd:string"/>
						<xsd:element name="resourceIdentifier" type="xsd:string"/>
						<xsd:element name="platformIdentifier" type="xsd:string"/>
						<xsd:element maxOccurs="1" minOccurs="0" name="username" type="xsd:string"/>
						<xsd:element maxOccurs="1" minOccurs="0" name="password" type="xsd:string"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>

			<xsd:element name="response">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element maxOccurs="1" minOccurs="1" name="resourceBase" type="tns:tResource"/>
						<xsd:element maxOccurs="1" minOccurs="0" name="enhancementList" type="tns:TEnhancementList"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>

			<xsd:complexType name="tResource">
				<xsd:sequence>
					<xsd:element name="id" type="xsd:string"/>
				</xsd:sequence>
			</xsd:complexType>

			<xsd:element name="invalidIdentifierError" type="xsd:string"/>
			<xsd:element name="checkAccessibilityFault" type="xsd:string"/>

			<xsd:element name="checkAccessibilityResponse">
				<xsd:complexType>
					<xsd:sequence>


						<xsd:element maxOccurs="1" minOccurs="1" name="adaptationList" type="tns:adaptationListType">
						</xsd:element>
					</xsd:sequence>

				</xsd:complexType>
			</xsd:element>

			<xsd:element name="checkAccessibilityInput">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="identifierPlatform" type="xsd:string"/>
						<xsd:element name="resourceList" type="tns:tResourceList"/>
						<xsd:element name="userList" type="tns:tUserList"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>

			<xsd:complexType name="tResourceList">
				<xsd:sequence>
					<xsd:element maxOccurs="unbounded" minOccurs="1" name="resource" type="xsd:string"/>
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="tUserList">
				<xsd:sequence>
					<xsd:element maxOccurs="unbounded" minOccurs="1" name="user" type="xsd:string"/>
				</xsd:sequence>
			</xsd:complexType>



            <xsd:simpleType name="representation">
            	<xsd:restriction base="xsd:string"/>
            </xsd:simpleType>

            <xsd:simpleType name="language">
            	<xsd:restriction base="xsd:string"/>
            </xsd:simpleType>

            <xsd:complexType name="adaptationListType">
            	<xsd:sequence>
            		<xsd:element maxOccurs="unbounded" minOccurs="0" name="adaptation" type="tns:adaptationType"/>
            	</xsd:sequence>
            </xsd:complexType>

            <xsd:complexType name="adaptationType">
            	<xsd:sequence>
            		<xsd:element maxOccurs="1" minOccurs="1" name="languageList" type="tns:languageListType">
            		</xsd:element>
            		<xsd:element maxOccurs="1" minOccurs="1" name="representationList" type="tns:representationListType"/>
            	</xsd:sequence>
            	<xsd:attribute name="resource" type="xsd:string"/>
            	<xsd:attribute name="user" type="xsd:string"/>
            </xsd:complexType>

            <xsd:complexType name="languageListType">
            	<xsd:sequence>
            		<xsd:element maxOccurs="unbounded" minOccurs="0" name="language" type="xsd:string"/>
            	</xsd:sequence>
            </xsd:complexType>

            <xsd:complexType name="representationListType">
            	<xsd:sequence>
            		<xsd:element maxOccurs="unbounded" minOccurs="0" name="representation" type="xsd:string"/>
            	</xsd:sequence>
            </xsd:complexType>

            <xsd:complexType name="TEnhancementList">
				<xsd:sequence>
					<xsd:element maxOccurs="unbounded" minOccurs="1" name="id" type="xsd:string"/>
				</xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
  </wsdl:types>
  <wsdl:message name="checkAccessibilityResponse">
    <wsdl:part name="parameters" element="tns:checkAccessibilityResponse"/>
  </wsdl:message>
  <wsdl:message name="invalidIdentifierError">
    <wsdl:part name="parameters" element="tns:invalidIdentifierError"/>
  </wsdl:message>
  <wsdl:message name="checkAccessibilityFault">
    <wsdl:part name="parameters" element="tns:checkAccessibilityFault"/>
  </wsdl:message>
  <wsdl:message name="personalizeResourceResponse">
    <wsdl:part name="personalizeResourceResponse" element="tns:response"/>
  </wsdl:message>
  <wsdl:message name="checkAccessibilityRequest">
    <wsdl:part name="parameters" element="tns:checkAccessibilityInput"/>
  </wsdl:message>
  <wsdl:message name="personalizeResourceRequest">
    <wsdl:part name="personalizeResourceRequest" element="tns:personalizeRequest"/>
  </wsdl:message>
  <wsdl:portType name="personalizeResource">
    <wsdl:operation name="personalizeResource">
      <wsdl:input name="personalizeRequest" message="tns:personalizeResourceRequest"/>
      <wsdl:output name="resourceList" message="tns:personalizeResourceResponse"/>
      <wsdl:fault name="invalidIdentifierError" message="tns:invalidIdentifierError"/>
    </wsdl:operation>
    <wsdl:operation name="checkAccessibility">
      <wsdl:input message="tns:checkAccessibilityRequest"/>
      <wsdl:output message="tns:checkAccessibilityResponse"/>
      <wsdl:fault name="checkAccessibilityFault" message="tns:checkAccessibilityFault"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="personalizeResourceSOAPBinding" type="tns:personalizeResource">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="personalizeResource">
      <soap:operation soapAction="http://www.eu4all-project.eu/cp/wsdl/personalizeResource/NewOperation"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="invalidIdentifierError">
        <soap:fault name="invalidIdentifierError" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="checkAccessibility">
      <soap:operation soapAction="http://www.eu4all-project.eu/cp/wsdl/checkAccessibility/NewOperation"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="checkAccessibilityFault">
        <soap:fault name="checkAccessibilityFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="personalizeResourceService">
    <wsdl:port name="personalizeResourceSOAPBinding" binding="tns:personalizeResourceSOAPBinding">
      <soap:address location="http://72.47.200.150:8080/CP/services/personalizeResourceService"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
